<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>WorkJobs</title>
		<link href="bower_components/flexboxgrid/6.3.0/css/flexboxgrid.min.css" rel="stylesheet" type="text/css" >
		<link href="bower_components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
		<link href="bower_components/bootstrap/css/ie10-viewport-bug-workaround.css" type="text/css" >
		<link href="bower_components/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css" >
		<link href="/stylesheets/backend.css" rel="stylesheet" type="text/css" >
		<link href="/stylesheets/login.css" rel="stylesheet" type="text/css" >
		<link href="/stylesheets/backend.css" rel="stylesheet" type="text/css" >
		<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" >
		<base href="/">
	</head>

	<body ng-app="workjobs">
	
    <div id="holderCont" ui-view></div>

		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="scripts/app.js"></script>
		
		<script type="text/javascript" src="views/main/main.controller.js"></script>

		<!--
		<script type="text/javascript" src="views/backend/backend.controller.js"></script>
		<script type="text/javascript" src="views/main/main.controller.js"></script>
		<script type="text/javascript" src="views/category/category.controller.js"></script>
		<script type="text/javascript" src="views/login/login.controller.js"></script>
		<script type="text/javascript" src="views/inventory/inventory.controller.js"></script>
		-->

	</body>
</html>